<div class="form-group">
    <label class="col-sm-4 control-label">Season</label>
    <div class="col-sm-8">
        <label class="radio-inline"> <input type="radio" name="season" id="seasonSummer" value="summer" checked>
            {{answer}} </label>

    </div>
</div>