 <div class="container-fluid" id="homepage">
 <a href="temp link"> <button class="btn btn-primary btn-lg homebutton" role="button">Home</a></button>
<input type="text" id="searched-term" value="Search for beer!">
<select name="search-type" id="search-type">
    <option value="">Beer</option>
    <option value="">Breweries</option>
    <option value="">State</option>
</select>
<button type="submit" id="beer-search">Search</button>