{{> navbar-block}}

<div class="jumbotron" id="beer-rec">
    <h3>Your New Favorite Brew: <span id="beer-style"></span></h3>
    <p id="beer-description"></p>

    <br>
    <br>
    <br>
    <h5 id="beer-alt"></h5>
    <p id="alt-desc"></p>
</div>

<script src="/js/dashboard.js"></script>


{{!-- <script>
    $(document).ready(function () {
        $("#beerModal").modal('show');
    });
</script> --}}