<nav class="navbar navbar-light bg-light sticky-top">
    <span class="navbar-brand mb-0 h1">Beerfinder 2.0</span>
    <a class="navbar-brand" href="/">Home</a>
</nav>
<div class="modal-dialog text-center">
    <div class="col-sm-8 main-section">
        <div class="modal-content">
            <div class="col-12 text-center">
                <h3>Beerfinder 2.0</h3>
                <h5>Enter Email and password To Claim Results</h5>
            </div>
            <form class="col-12" action="/input" method="POST">
                <div class="form-group">
                    <label for="beerInputEmail1">Email</label>
                    <input type="email" class="form-control" id="InputEmail1" placeholder="Enter Email Address Here"
                        aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-secondary"><i class="fas fa-sign-in-alt"></i> Submit</button>
                <p>Dont Have an account?
                <a href="register">Register Here</a></p>
</div>